@charset "UTF-8";
/* CSS Document */

body {
	background-image:url(../images/Noodle.png);
}
nav {
	background-color:#B8C59D;
}

.navbar-brand {
	font-family: 'Neuton', serif;
	font-size: 30px;
}
h2 {
text-align: center;
	font-family: 'Neuton', serif;
	
}

h4 { 
	
	font-family: 'Neuton', serif;
	background: rgb(255, 255, 255);
	display:grid;
	
	
}
h3 { 
	
	font-family: 'Neuton', serif;
	background: rgb(255, 255, 255);
	}
.paragraph {

	background: rgb(255, 255, 255);
	text-align:center;
	padding: 45px;
	font-size: 30px;

}
.story {
	font-size: 40px;
	padding: 30px;
	
}

