@charset "UTF-8";
/* CSS Document */

body {
	background-image:url(../images/Noodle.png);
}
nav {
	background-color:#B8C59D;
}

.navbar-brand {
	font-family: 'Neuton', serif;
	font-size: 30px;
}
h2 {
	background-color:#B8C59D;
	font-family: 'Neuton', serif;
	
}

h4 { 
	
	font-family: 'Patrick Hand SC', cursive;
	background: rgb(255, 255, 255);
	
	
}
h3 { 
	
	font-family: 'Patrick Hand SC', cursive;
	background: rgb(255, 255, 255);
	
}
.paragraph {
	
	background: rgb(255, 255, 255);
}
