@charset "UTF-8";
/* CSS Document */
.nav-item {
	background-color: #B8C59D;
	font-family: 'Neuton', serif;
}
body {
	background-image:url(../images/Noodle.png);
}
nav {
	background-color:#B8C59D;
}

.navbar-brand {
	font: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
h2 {
	background-color: #F8978A;
	font-family: 'Neuton', serif;
	
}

h4 { 
	background-color: aliceblue;
	font-family: 'Patrick Hand SC', cursive;
	background: rgba(255, 255, 255, 0.3)
	
	
}
h3 { 
	background-color: aliceblue;
	font-family: 'Patrick Hand SC', cursive;
	background: rgba(255, 255, 255, 0.3)
	
}
.paragraph {
	background-color: aliceblue;
	background: rgba(255, 255, 255, 0.3)
}
