@charset "UTF-8";
/* CSS Document */

body {
	background-image:url(../images/Noodle.png);
}
nav {
	background-color:#B8C59D;
}

.navbar-brand {
	font-family: 'Neuton', serif;
	font-size: 30px;
}
h2 {
text-align: center;
	font-family: 'Neuton', serif;
	margin-top: 10px;
	
}

h4 { 
	
	font-family: 'Neuton', serif;
	font-size: 40px;
	margin-left: 5%;
	
	
	
}
.lady {
	margin-left: 1%;
}
.noodle {
	margin-left:2%;


}
.container {
	margin-top: 100px;
	align-items: center;
}
h3 { 
	
	font-family: 'Neuton', serif;
	background: rgb(255, 255, 255);
	}
.paragraph {

	background: rgb(255, 255, 255);
	text-align:center;
	padding: 45px;
	font-size: 30px;

}
.story {
	font-size: 41px;
	padding: 30px;
	
}
footer {
	background-color:#F8978A;
	padding-bottom: 10%;
	padding-left: 20px;
	color: white;
	padding-top: 20px;
	
}
@media only screen and (max-width: 600px) {
	footer{
		font-size: 30px;
		text-align-last: center;
	}
	.paragraph {

		background: rgb(255, 255, 255);
		text-align:center;
		padding: 45px;
		font-size: 30px;
	}
	.row {
		align-items: center;
	}


}


