body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	background-image:url(../images/Noodle.png);
}
nav {
	background-color:#B8C59D;
	
}


.navbar-brand {
	font-family: 'Neuton', serif;
	font-size: 30px;
}
.banner{
	height: 100vh;
	width: 100%;
	background:url('../images/overlay.png'),url('../images/banner.jpg');
	background-position: top;
	background-size:cover;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
}
/* .banner .navbar{
	margin-top:4%; */
}
/* .banner .navbar-brand{
	color: #fff;
	font-size:1.8em;
	font-weight: 700;
	margin-left: 10%;
} */
/* .banner .nav{
	margin-right:10%; 
} */
.banner .nav li a{
	color:rgb(255, 255, 255);
	font-size: 1.2em;
}

.banner .info{
	margin-top:15%;
	transform: translateY(-15%);
}
.banner .info h1{
	font-size: 2.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaa;
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	background: #F8978A;
	padding:10px 20px; 
	font-size: 2em;
	font-weight: 600;
}
.banner .info a:hover{
	background: #B8C59D;
}


.description .des{
	margin-top:4%;
}
.description .des h1{
	font-size: 2em;
	font-weight: 700;
	color: rgb(0, 0, 0);
	letter-spacing: 2px;
}
.description .des p{
	font-size: 1.5em;
	font-weight: 500;
	color: rgb(0, 0, 0);
}



.tt{
	font-size: 40px;
	text-align-last: center;
	font-family: 'Neuton', serif;
	color: black;
}
.col {
	background-color: white;
	padding-bottom:20px;
	margin: 20px;
	color: black;
	
}


footer {
	background-color:#F8978A;
	padding-bottom: 10%;
	padding-left: 20px;
	color: white;
	padding-top: 20px;




/* 
.wrapper{
	padding: 5px;
	max-width: 960px;
	width: 95px;
	margin:20px auto;
}
.wrapper .header .h1{
	color: #e91e63;
}
header{
	padding: 0%;
	text-align: center;
	font-size: 21px;
}
. .wrapper .columns{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}
.column{
	flex: 1;
	border: 1px;
	margin: 2px;
	padding: 2px;
	transition: 0.3s;
}

.column {
	float: left;
	width: 33.33%;
  }
  .column {
	float: left;
  }
  
  .left, .right {
	width: 25%;
  }
  
  .middle {
	width: 50%; */
  
