@charset "UTF-8";
/* CSS Document */

body {
	background-image:url("the-noodle-cave-1.jpg")
}

.col {
	background-color: white;
	padding-bottom:20px;
	margin: 20px;
	
}

h2 {
	padding: 20px;
	background-color:#F8978A;
	margin-left: 40px;
	margin-right: 40%;
	margin-top: 20px;
}

footer {
	background-color:#F8978A;
	padding-bottom: 100%;
	padding-left: 20px;
	color: white;
	padding-top: 20px;
}

.container {
	padding: 5%;
}

nav {
	background-color:#B8C59D;
}

.navbar-brand {
	font: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

@media only screen and (max-width: 1000px) {

	.col {
		display: flex;
		font-size: 30px;
	}	

.navbar-brand {
	font-size: 50px;
}
nav {
	font-size: 30px;
}
	.container{
		margin:0%;
		background-color: #B8C59D;
	}

}