@charset "UTF-8";
/* CSS Document */

body {
	background-image:url("the-noodle-cave-1.jpg")
}

.col {
	background-color: white;
	padding-bottom:20px;
	
}

h2 {
	padding: 20px;
	background-color:#F8978A;
}

footer {
	background-color:#F8978A;
	padding-bottom: 100%;
	padding-left: 20px;
	color: white;
	padding-top: 20px;
}

.container {
	padding: 5%;
}

nav {
	background-color:#B8C59D;
}

.navbar-brand {
	font: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}